@import url(code.css);

#info { margin: 0 0 1em 0 }
#wikipage {
 clear: both;
 max-width:  56em; /* 104ch; */ /* 56em 60em */
}
.wikipage h1 {
 font-size: 20pt;
 color: #c20000;
}
.wikipage > .trac-content > h2 {
 font-size: 15pt;
 color: #b00;
 margin-top: 1.4em;
 padding: 0.2em .3em .1em 0; /* wiki_h2_padding */
 border-bottom: 2pt solid #b00; /* wiki_h2_bottom */
 box-shadow: .2em .3em .5em 0 #f6f6f6; /* wiki_h2_box_shadow */
}
.wikipage > .trac-content > h3 {
 font-size: 14pt;
 font-weight: 600;
 color: #b00;
 margin-top: 1.4em;
 margin-bottom: 1em;
 padding: .2em .3em .1em .1em; /* wiki_h3_padding */
 border-bottom: 1px solid #b00;  /* wiki_h3_bottom */
 box-shadow: .2em .3em .5em 0 #f6f6f6; /* wiki_h3_box_shadow */
}

@media print {
 #wikipage { max-width: none }
 .wikipage > .trac-content > h2 { box-shadow: none }
 .wikipage > .trac-content > h3 { box-shadow: none }
}

.wikipage h4 {
 font-size: 13pt;
 font-weight: 500;
 color: #b00;
 margin-top: 1.4em;
 margin-bottom: 1em;
}
.wikipage h5 {
 font-size: 12pt;
 font-weight: normal;
 color: #b00;
 margin-top: 1.4em;
 margin-bottom: .9em;
}
.wikipage h6 {
 font-size: 11pt;
 font-style: italic;
 font-weight: normal;
 color: #b00;
 margin-top: 1.4em;
 margin-bottom: .8em;
}
.wikipage .trac-content, .wikipage .wikipage { /* not perfect... should also work for tickets! */
 margin: .3em auto;
 padding-left: 28px; 
}
table.wiki {
 background-color: inherit;
}

/* Styles for the path of hierarchical pages */
#pagepath {
 font-size: 9pt; /* slightly bigger as .nav ul in trac.css */
 float: left;
 padding: .4em 0;
}
#pagepath :link, #pagepath :visited { margin: 0 .2em }
#pagepath .first:link, #pagepath .first:visited { color: #998 }
#pagepath .sep { color: #666; padding: 0 .1em }
#pagepath .pathentry { float: left }

/* Styles for the page creation form */
.create #modifypage input { margin: 2px /* trac.css' input {} */ }

/* Styles for the page editing form */
.wikipage h2.editor { margin-left: 0 }
.preview-right {
 float: right;
 width: 50%;
 display: block;
 margin: 0 0 0 1em;
}
.sidebyside > h2 { margin: .4em 0 }
.sidebyside #preview {
 margin: 0;
 padding-left: 28px;
}
.sidebyside #text { overflow: hidden }

#edit { margin-top: .5em }
#edit #rows {
 float: right;
 font-size: 80%;
 margin: .4em 0 0 0;
}
#edit #rows select { font-size: 90% }
#edit fieldset { margin-left: 1px; margin-right: 1px }
#edit #text {
 clear: both;
 min-height: 10em;
 resize: vertical;
}
#edit .wikitoolbar { float: left }
#edit div.trac-resizable { clear: both }
#edit + #info { margin-top: 1em }
#edit + #attachments { margin-top: 1.5em }
#delete, #rename, #save { margin-left: 3em }
#preview {
 background: #fbfbfb url(../draft.png);
 margin: 1em 0 2em;
 overflow: auto;
}

/* Diff view */
#overview .multi { color: #999 }
#overview .comment { padding: 1em 0 0 }

@media print {
 th.diff, td.diff { display: none }
}

/* Styles for the TracGuideToc wikimacro */
.wiki-toc {
 padding: .5em 1em;
 margin: 0 0 2em 1em;
 float: right;
 clear: right;
 border: 1px solid #ddc;
 border-radius: .4em; /* main_border_radius */
 box-shadow: .1em .3em .5em 0 #d4d4d4; /* aside_box_shadow */
 background: #ffd;
 font-size: 85%;
 position: relative;
}
.wiki-toc h4 { font-size: 12px; margin: 0 }
.wiki-toc ul, .wiki-toc ol { list-style: none; padding: 0; margin: 0 }
.wiki-toc ul ul, .wiki-toc ol ol { padding-left: 1.2em }
.wiki-toc li { margin: 0; padding: 0 }
.wiki-toc .active { background: #ff9; position: relative; }
.wiki-toc-un ul, .wiki-toc-un ol { list-style: none; }
.wiki-toc ol li { font-weight: normal }
.wiki-toc > ol > li { font-weight: bold }

div.trac-modifiedby {
 margin: .3em .5em;
 *width: 100%; /* Workaround horizontal scrollbar on IE7 */
 color: #888;
 font-size: 80%;
 font-style: italic;
 text-align: right;
 float: right;
}
div.trac-modifiedby :link, div.trac-modifiedby :visited { color: inherit }
div.trac-modifiedby span.trac-print { display: none; }
@media print {
 div.trac-modifiedby span { display: none; }
 div.trac-modifiedby span.trac-print { display: block; }
}

/* TracIni default value */
div.tracini td.default { font-size: 90% }
div.tracini td.nodefault {
 color: #777;
 font-size: 85%;
 font-style: italic;
 white-space: nowrap;
}
div.tracini td > p:first-child { margin-top: 0 }
div.tracini td > p:last-child { margin-bottom: 0 }
